@model FinancialTrackerMVC.Models.Bills.BillsDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Bill Details</h1>

<div>
    <h3>Bills : @Model.debtorName</h3>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-cm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.debtorName)
        </dt>
        <dd class="col-cm-10">
            @Html.DisplayFor(model => model.debtorName)
        </dd><dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubDebtorType)
        </dt>
        <dd class="col-cm-10">
            @Html.DisplayFor(model => model.SubDebtorType)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id}) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.id}) |
    <a asp-action="Index">Back to List</a>
</div>