@model FinancialTrackerMVC.Models.Users.UsersDetail

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

<div>
    <h3>User : @Model.fullName</h3>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-cm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fullName)
        </dt>
        <dd class="col-cm-10">
            @Html.DisplayFor(model => model.fullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-cm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.birthday)
        </dt>
        <dd class="col-cm-10">
            @Html.DisplayFor(model => model.birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.income)
        </dt>
        <dd class="col-cm-10">
            @Html.DisplayFor(model => model.income)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id}) |
    <a asp-action="Index">Back to List</a>
</div>